body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.info-panel {
    display: flex;
    /* flex-direction: column; This makes the child elements stack vertically */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 50px; /* Adjust as needed for spacing */
    background-color: #bababa; /* Light gray background */
    border-radius: 10px;
    width: 300px;

    border: 1px solid #ddd;   /* Slight border to define the box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.player-info {
    float: left;
    font-size: 1em;
    margin: 5px 0; /* Provides some spacing between the two messages */
}
.turn-info {
    float: right;
    font-size: 1em;
    margin: 5px 0; /* Provides some spacing between the two messages */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #c1f5b4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
}

#winMessage {
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

#resetFromModal {
    color: black;
    background-color: rgb(162, 209, 226);
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
}

/* The Close Button */
.close {
    display: none;
    color: #ededed;
    border-radius: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.dark-square {
    background-color: #B57340; /* Darker square color */
    background: linear-gradient(135deg, #e9d4b7, #d7c2a2);
}

.light-square {
    background-color: #F2D4B6; /* Lighter square color */
    background: linear-gradient(135deg, #a6825e, #8a7150);
}
.square {
    width: 100%;
    height: 100%;
    /* background-color: #ffe6b3; Light color for the square similar to the image */
    border: 1px solid #a6a6a6; /* Add a border to each square to match the pattern in the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.square:hover {
    background: rgba(120,120,120,0.1);
}

.piece {
    width: 75%;
    height: 75%;
    margin: 10% auto;
    border-radius: 50%;
    /* Shadow for the lifted effect */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* Smooth transition for any animations */
    transition: all 0.1s ease;
    z-index: 1;
    position: relative;
}
.piece:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.white-piece {
    background-color: white;
    outline: 2px solid #a6a6a6;
}

.black-piece {
    background-color: black;
    outline: 2px solid #2d2d2d;

}

.highlight {
    background: lightgreen;
}

.ghost-piece {
    opacity: 0.5;
}

.dot {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board-border {
    display: flex;
    flex-direction: column;
    background: #8A5D38;
    position: relative;
    width: 320px; /* Example width; you can adjust as needed */
}

.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#D4B483;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.labels span {
    flex: 1;
    text-align: center;
    user-select: none; /* Optional: prevent the user from selecting the labels */
}

.top {
    padding: 0 2em 0 2em; /* Adjust padding to fit inside the border */
    height: 20px; /* Example height for the top labels */
}

.main-content {
    display: flex;
}

.left {
    flex-direction: column;
    padding: 0.5em 0 0.5em 0; /* Adjust padding to fit inside the border */
    width: 1em; /* Example width for the left labels */
}

.board {
    flex: 1;
    background-color: #aa1414; /* Background color for demonstration */
    display: flex; /* Use flex to evenly distribute items like in a chessboard */
    flex-wrap: wrap;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* border: 1px solid #a6a6a6; Add a border similar to the image */
    background-color: #D4B483; /* Light wooden color for the board's background */
    border: 1em solid #8A5D38; /* Darker wooden color for the border */
    border-top: none;
    border-left: none;
    box-sizing: border-box; /* To make sure the border doesn't increase the board's size */
    position: relative; /* To position the labels inside the board */
}