body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.info-panel {
    display: flex;
    flex-direction: column; /* This makes the child elements stack vertically */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 50px; /* Adjust as needed for spacing */
    background-color: #e6e6e6; /* Light gray background */
    border-radius: 10px;
}

.player-info, .turn-info {
    font-size: 1.5em;
    margin: 5px 0; /* Provides some spacing between the two messages */
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* border: 1px solid #a6a6a6; Add a border similar to the image */
    background-color: #D4B483; /* Light wooden color for the board's background */
    border: 1em solid #8A5D38; /* Darker wooden color for the border */
    box-sizing: border-box; /* To make sure the border doesn't increase the board's size */
    position: relative; /* To position the labels inside the board */
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.dark-square {
    background-color: #B57340; /* Darker square color */
}

.light-square {
    background-color: #F2D4B6; /* Lighter square color */
}
.square {
    width: 100%;
    height: 100%;
    /* background-color: #ffe6b3; Light color for the square similar to the image */
    border: 1px solid #a6a6a6; /* Add a border to each square to match the pattern in the image */
}

.square:hover {
    background-color: rgba(120,120,120,0.01); /* Light color for the square similar to the image */
}

.piece {
    width: 80%;
    height: 80%;
    margin: 10% auto;
    border-radius: 50%;
}

.white-piece {
    background-color: white;
}

.black-piece {
    background-color: black;
}

.highlight {
    background-color: lightgreen;
}

.ghost-piece {
    opacity: 0.5;
}

.dot {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
